nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ff385c;
  min-height: 8vh;
}

.toggle-button {
  display: flex;
  margin: 10px;
}

.label {
  background-color: #111;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  height: 17px;
  width: 35px;
  padding: 0 3px;
  transform: scale(1.5);
}

.ball {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  top: 1.5px;
  left: 2px;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(17.5px);
}

.checkbox {
  opacity: 0;
}

.icons {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 10px;
}

.navbar-icon {
  max-height: 3rem;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-links li {
  list-style: none;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 266);
  margin: 5px;
  border-radius: 2px;
}

@media screen and (max-width: 1024px) {
  .navbar-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .navbar-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 9vh;
    background-color: #ff385c;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transition: transform 0.5s ease-in;
    transform: translateX(100%);
  }

  nav {
    justify-content: space-between;
  }
  .navbar-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.navbar-active {
  transform: translateX(0%);
}

.individual-links0 {
  animation: navbarLinksFade 0.3s forwards 0.5s;
}
.individual-links1 {
  animation: navbarLinksFade 0.3s forwards 0.6s;
}
.individual-links2 {
  animation: navbarLinksFade 0.3s forwards 0.7s;
}

@keyframes navbarLinksFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
